<section class="content-container" id="single-project">
    <div id="return-dashboard-container">
        <a class="return-to-dashboard" href="/dashboard"><i class="fas fa-long-arrow-alt-left"></i> Return to Dashboard</a>
    </div>
    <form>
        <h2 id="secondary-subhead">{{client.company_name}}</h2>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Address</h3>
            <input name="company-address" type="text" value="{{client.address}}">
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">City</h3>
            <input name="company-city" type="text" value="{{client.city}}">
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">State</h3>
            <input name="company-state" type="text" value="{{client.state}}">
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Zip Code</h3>
            <input name="company-zip-code" type="text" value="{{client.zip}}">
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Contact</h3>
            <input name="company-contact" type="text" value="{{client.contact_first_name}}">
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Email</h3>
            <input name="company-email" type="text" value="{{client.email}}">
        </div>
        <div id="single-content-container">
            <h3 id="secondary-subhead">Phone Number</h3>
            <input name="company-phone" type="text" value="{{client.phone_number}}">
        </div>
    </form> 
    <div class="company-save-btn-container"> 
        <button class="company-save-btn">Save Changes</button>
    </div>
</section>